
body {
    overscroll-behavior: contain;
}

form {
    display: flex;
    flex-direction: column;
}

textarea {
    width: 100%;
}

.none {
    display: none;
}

.bodyContainer {
    display: flex;
    flex-direction: row;

    background-color: antiquewhite;

    .playersSideWidget {
        position: relative;
        width: 10em;

        background-color: rgba(255, 238, 0, 0.473);

        .addPlayersButton {
            position: absolute;
            right: 0;
        }
    }

    .mainWidget {
        flex-grow: 5;
        background-color: rgba(155, 145, 241, 0.452);
    }

    .playerMainWidget {
        background-color: rgba(226, 43, 43, 0.452);
    }

    .divisionListWidget {
        position: relative;
        background-color: rgba(43, 226, 73, 0.452);

        .addDivisionButton {
            position: absolute;
            right: 0;
        }

        .divisionWidget {
            background-color: rgba(43, 46, 226, 0.507);
            margin: 5px;

            select {
                font-size: 1.25em;
            }

            optgroup {
                font-size: 1.25em;
            }

            .teamsWidget {
                h3 {
                    cursor: pointer;
                }
                background-color: azure;

                .top {
                    display: flex;
                    flex-direction: row;

                    .team {
                        display: flex;
                        flex-direction: row;
                    }

                    .allTeams {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }

            .roundsContainer {
                position: relative;

                .addRoundButton {
                    position: absolute;
                    right: 0;
                }

                .roundWidget {
                    position: relative;
                    background-color: gold;
                    margin: 5px;

                    .addPoolButton {
                        position: absolute;
                        right: 0;
                    }

                    .poolWidget {
                        position: relative;
                        background-color: rgb(63, 204, 209);
                        margin: 5px;

                        .teams {
                            .team {
                                display: flex;
                                flex-direction: row;
                            }
                        }

                        .judgeWidget {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            .judge {
                                display: flex;
                                flex-direction: row;
                            }
                        }
                    }
                }
            }
        }
    }
}